.about{
    background: linear-gradient(180deg, black, transparent);
}
.about h2{
    color: #fff;
    margin-bottom: 66px;
    text-shadow: 0px 0px 21px rgb(255 255 255 / 50%);
}
.about__content{
    padding-right: 30px;
}
.about p{
    color: #fff;
    font-size:17px;
}
.about__img img{
    width: 100%;
    margin-bottom: 30px;
    border-radius:1rem;
    transition: all .3s ease-in-out;
}
.about__img img:hover{
    transform: scale(1.03);
}

@media only screen and (max-width:992px){
    .about .col-md-6{
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
    .about__img .col-md-6{
        width: 50%;
    }
    .about__img img{
        width: 80%;
    }
}
